<footer class="site-footer">
  <div class="footer-inner">
    <div class="footer-brand">
      <img src="assets/logo.png" alt="AADS crest" class="footer-logo">
      <p>Ann Arbor Dueling Society<br><i>"To Good Fights Between Good Friends!"</i></p>
    </div>
    <div>
      <p class="footer-heading">Links</p>
      <ul class="footer-links">
        <li><a href="https://www.facebook.com/AAdueling/" target="_blank" rel="noopener">Facebook</a></li>
        <li><a href="https://www.usafencing.org" target="_blank" rel="noopener">USA Fencing</a></li>
        <li><a href="https://www.annarborymca.org" target="_blank" rel="noopener">Ann Arbor YMCA</a></li>
      </ul>
    </div>
  </div>
  <div class="footer-bottom">
    <p>&copy; <span class="copyright-year"></span> Ann Arbor Dueling Society. All rights reserved.</p>
  </div>
</footer>
